@model string

@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<h1 class="bg-info text-white">Forgot Password</h1>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label>E-poçta</label>
        <input name="email" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Göndər</button>
</form>