@using Business.ViewModels
@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<!-- ======= Hero Section Start ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>MediWell Web Saytına Xoş Gəlmişsiniz </h1>
        <h2>Klinikamızdan qeydiyyatdan keçmək üçün tələsin!</h2>
        <a href="#about" class="btn-get-started scrollto">Görüş təyin et</a>
    </div>
</section>
<!-- ======= Hero Section End ======= -->


<main>

    <!-- ======= Why Us Section Start ======= -->
    <section id="why-us" class="why-us">
        <div class="container my-5">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Niyə Biz?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn">Daha ətraflı <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon"><i class="fas fa-pills"></i></div>
                                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 d-flex align-items-stretch my-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon"><i class="fas fa-thermometer"></i></div>
                                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 d-flex align-items-stretch my-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon"><i class="fas fa-thermometer"></i></div>
                                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section>
    <!-- ======= Why Us Section End ======= -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Qabaqcadan görüş təyin etmek istəyirsiz?</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="cta-btn scrollto" href="#appointment">Görüş təyin edin</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!--Departaments Section Start-->
    <section id="Departaments">
        <div class="container mt-5">
            <div class="section-title">
                <h2>Departaments</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia esse dolor expedita aut animi pariatur, non in. Quae, cum ipsum.</p>
            </div>

            <div class="row">
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Dermatologiya.png" alt="Dermatologiya">
                            <div class="card-body">
                                <p class="card-text">Dermatologiya</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Endokrinologiya.png" alt="Endokrinologiya">
                            <div class="card-body">
                                <p class="card-text">Endokrinologiya</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Goz.png" alt="Goz">
                            <div class="card-body">
                                <p class="card-text">Goz</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Hepatologiya.png" alt="Hepatologiya">
                            <div class="card-body">
                                <p class="card-text">Hepatologiya</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Kardioloji.png" alt="Kardioloji">
                            <div class="card-body">
                                <p class="card-text">Kardioloji</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Nevrologiya.png" alt="Nevrologiya">
                            <div class="card-body">
                                <p class="card-text">Nevrologiya</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Pediatrik.png" alt="Pediatrik">
                            <div class="card-body">
                                <p class="card-text">Pediatrik</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 my-3 col-md-4 col-sm-6">
                    <a href="#">
                        <div class="card">
                            <img class="card-img" src="./assets/images/Departaments/Stomatologiya.png" alt="Stomatologiya">
                            <div class="card-body">
                                <p class="card-text">Stomatologiya</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row learn-more-row">
                <a class="btn learn-more-btn" asp-controller="Departament" asp-action="Index" >Şöbələri Gör</a>
            </div>

        </div>
    </section>
    <!--Departaments Section End-->
    <!--Doctors Section Start-->
    <section id="Doctors">
        <div class="container my-5">

            <div class="section-title">
                <h2>Həkim heyətimiz</h2>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia esse dolor expedita aut animi pariatur, non in. Quae, cum ipsum.</p>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <a href="#">
                                        <img src="./assets/images/Doctors/doctors-2.jpg" class="img-fluid" alt="">
                                    </a>

                                    <div class="social">
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="youtube"><i class="fab fa-linkedin"></i></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Nevroloq</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <a href="#">
                                        <img src="./assets/images/Doctors/doctors-1.jpg" class="img-fluid" alt="">
                                    </a>

                                    <div class="social">
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="youtube"><i class="fab fa-linkedin"></i></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Stomatoloq</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <a href="#">
                                        <img src="./assets/images/Doctors/doctors-3.jpg" class="img-fluid" alt="">
                                    </a>
                                    <div class="social">
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="youtube"><i class="fab fa-linkedin"></i></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Pediatr</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <a href="#">
                                        <img src="./assets/images/Doctors/doctors-1.jpg" class="img-fluid" alt="">
                                    </a>

                                    <div class="social">
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="youtube"><i class="fab fa-linkedin"></i></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Endokrinoloq</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <a href="#">
                                        <img src="./assets/images/Doctors/doctors-1.jpg" class="img-fluid" alt="">
                                    </a>

                                    <div class="social">
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="youtube"><i class="fab fa-linkedin"></i></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Endokrinoloq</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <div class="member-img">
                                    <a href="#">
                                        <img src="./assets/images/Doctors/doctors-1.jpg" class="img-fluid" alt="">
                                    </a>

                                    <div class="social">
                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="youtube"><i class="fab fa-linkedin"></i></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>Walter White</h4>
                                    <span>Endokrinoloq</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row learn-more-row">
                        <a asp-controller="Doctors" asp-action="Index" class="btn learn-more-btn">Həkimləri Gör</a>
                    </div>
                </div>


            </div>


        </div>
    </section>
    <!--Doctors Section End-->
    <!-- ======= CommentSlider Section Start======= -->
    <section id="our-testimonial" class="padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms">
                        <h2 class="darkcolor">Klinikamız Haqda Şərhlər</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="item">
                            <div class="testimonial-wrapp">
                                <span class="quoted"><i class="fa fa-quote-right"></i></span>
                                <div class="testimonial-text">
                                    <p class="bottom40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eius voluptatum porro illo sed inventore exercitationem earum. Esse, harum non!</p>
                                </div>
                                <div class="testimonial-photo"><img alt="" src="/assets/images/Patients/patient-1.jpg"></div>
                                <h4 class="darkcolor">Sam David</h4>
                                <small class="defaultcolor">Businessman</small>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapp">
                                <span class="quoted"><i class="fa fa-quote-right"></i></span>
                                <div class="testimonial-text">
                                    <p class="bottom40">Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p>
                                </div>
                                <div class="testimonial-photo"><img alt="" src="images/testimonial-2.jpg"></div>
                                <h4 class="darkcolor">Jams Shah</h4>
                                <small class="defaultcolor">Businessman</small>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapp">
                                <span class="quoted"><i class="fa fa-quote-right"></i></span>
                                <div class="testimonial-text">
                                    <p class="bottom40">Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p>
                                </div>
                                <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                                <h4 class="darkcolor">Zubin Zucker</h4>
                                <small class="defaultcolor">Businessman</small>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrapp">
                                <span class="quoted"><i class="fa fa-quote-right"></i></span>
                                <div class="testimonial-text">
                                    <p class="bottom40">Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p>
                                </div>
                                <div class="testimonial-photo"><img alt="" src="images/testimonial-1.jpg"></div>
                                <h4 class="darkcolor">David Zucker</h4>
                                <small class="defaultcolor">Businessman</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= CommentSlider Section End======= -->
</main>

