
@model DoctorCreateIdentityVM
@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-description">
                Həkim Əlavə Et
            </h1>

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <form class="forms-sample" method="post" enctype="multipart/form-data" accept="image/*">
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="DoctorName" class="form-control" placeholder="Ad">
                        <span class="text-danger" asp-validation-for="DoctorName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="DoctorSurname" class="form-control" placeholder="Soyad">
                        <span class="text-danger" asp-validation-for="DoctorSurname"></span>
                    </div>
                </div>
                <div class="form-group d-flex">
                    @*<input type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="İstifadəçi adı">*@

                    <input asp-for="Username" class="form-control form-control-lg" placeholder="İstifadəçi adı">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Elektron ünvanınız">*@

                    <input asp-for="Email" class="form-control form-control-lg" placeholder="Elektron ünvanınız">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Şifrə">*@

                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Şifrə">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Şifrəni Təsdiqləyin">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="DoctorSplztion" class="form-control" placeholder="Sahəsi">
                        <span class="text-danger" asp-validation-for="DoctorSplztion"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="DoctorWorkingHours" class="form-control" placeholder="İş Saatları">
                        <span class="text-danger" asp-validation-for="DoctorWorkingHours"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="DoctorPhone" class="form-control" placeholder="Telefon">
                        <span class="text-danger" asp-validation-for="DoctorPhone"></span>
                    </div>
                </div>
                <div class="form-group drop-custum">
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option value="">Cinsini Seç</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Gender"></span>

                </div>
                <div class="form-group drop-custum">
                    <select asp-for="DepartamentId" class="form-control">
                        <option value="">Şöbə Seçin</option>
                        @foreach (var departament in Model.Departaments)
                        {
                            <option value="@departament.Id">@departament.Name</option>

                        }
                    </select>
                    <span class="text-danger" asp-validation-for="DepartamentId"></span>

                </div>
                <div class="form-group">
                    <input asp-for="Photo" class="form-control">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <input asp-for="DoctorAddress" class="form-control" placeholder="Ünvan">
                    <span class="text-danger" asp-validation-for="DoctorAddress"></span>
                </div>
                <div class="form-group">
                    <input asp-for="DoctorEducation" class="form-control" placeholder="Təhsili">
                    <span class="text-danger" asp-validation-for="DoctorEducation"></span>
                </div>
                <div class="form-group">
                    <input asp-for="DoctorFees" class="form-control" placeholder="Maaş">
                    <span class="text-danger" asp-validation-for="DoctorFees"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Şərh(Opsional)"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>

                </div>
                <button asp-action="Create" type="submit" class="btn btn-primary mr-2">Əlavə Et</button>

                <a asp-action="Index" class="btn btn-light">İmtina</a>

            </form>
        </div>
    </div>
</div>

