
@model DoctorUpdateVM
@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-description">
                Həkim Əlavə Et
            </h1>

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <form class="forms-sample" method="post" enctype="multipart/form-data" accept="image/*">
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="Name" class="form-control" placeholder="Ad">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="Surname" class="form-control" placeholder="Soyad">
                        <span class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="Address" class="form-control" placeholder="Adress">
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-line">
                        <input asp-for="Phone" class="form-control" placeholder="Telefon">
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                </div>
                <div class="form-group drop-custum">
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option value="">Cinsini Seç</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Gender"></span>

                </div>
                <div class="form-group drop-custum">
                    <select asp-for="DepartamentId" class="form-control">
                        <option value="">Şöbə Seçin</option>
                        @foreach (var departament in Model.AllDepartaments)
                        {
                            <option value="@departament.Id">@departament.Name</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="DepartamentId"></span>

                </div>


                <div class="form-group">
                    <input asp-for="Photo" class="form-control">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <input asp-for="WorkingHours" class="form-control" placeholder="İş Saatları">
                    <span class="text-danger" asp-validation-for="WorkingHours"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Education" class="form-control" placeholder="Təhsili">
                    <span class="text-danger" asp-validation-for="Education"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Fees" class="form-control" placeholder="Maaş">
                    <span class="text-danger" asp-validation-for="Fees"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Şərh(Opsional)"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>

                </div>
                <button asp-action="Update" type="submit" class="btn btn-primary mr-2">Yenilə</button>

                <a asp-action="Index" class="btn btn-light">İmtina</a>

            </form>
        </div>
    </div>
</div>

