
@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment ctn section-bg">
    <div class="container my-5">

        <div class="section-title">
            <h2>Görüş Təyin Et</h2>
            <p>Klinikamıza gəlmədən öncədən görüş təyin ederek qeydiyyatdan keçə bilərsiniz</p>
        </div>

        <form action="forms/appointment.php" method="post">
            <div class="row">
                <div class="col-md-4 form-group">
                    <div class="form-group">
                        <div class="form-line">
                            <input asp-for="AppointCreateVM.Name" class="form-control" placeholder="Ad">
                            <span class="text-danger" asp-validation-for="AppointCreateVM.Name"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <div class="form-group">
                        <div class="form-line">
                            <input asp-for="AppointCreateVM.Email" class="form-control" placeholder="E-Posta">
                            <span class="text-danger" asp-validation-for="AppointCreateVM.Email"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group mt-3 mt-md-0">
                    <div class="form-group">
                        <div class="form-line">
                            <input asp-for="AppointCreateVM.Phone" class="form-control" placeholder="Telefon">
                            <span class="text-danger" asp-validation-for="AppointCreateVM.Phone"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group mt-3">
                    <div class="form-group">
                        <div class="form-line">
                            <input asp-for="AppointCreateVM.AppointDate" class="datepicker form-control" placeholder="Qeydiyyat Tarixi">
                            <span class="text-danger" asp-validation-for="AppointCreateVM.AppointDate"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <div class="form-group drop-custum">
                        <select asp-for="AppointCreateVM.DepartamentId" class="form-control">
                            <option value="">Şöbə Seçin</option>
                            @foreach (var departament in Model.Departaments)
                            {
                                <option value="@departament.Id">@departament.Name</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="AppointCreateVM.DepartamentId"></span>

                    </div>
                    @*<select name="department" id="department" class="form-select">
                        <option value="">Departament Seç</option>
                        <option value="Department 1">Department 1</option>
                        <option value="Department 2">Department 2</option>
                        <option value="Department 3">Department 3</option>
                    </select>*@
                    <div class="validate"></div>
                </div>
                <div class="col-md-4 form-group mt-3">
                    <div class="form-group drop-custum">
                        <select asp-for="AppointCreateVM.DoctorId" class="form-control">
                            <option value="">Həkim Seçin</option>
                            @foreach (var doctor in Model.Doctors)
                            {
                                <option value="@doctor.Id">@doctor.Name</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="AppointCreateVM.DoctorId"></span>

                    </div>
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mesaj (Opsional)"></textarea>
                <div class="validate"></div>
            </div>
            <div class="text-center cta-btn scrollto"><button type="submit">Qeydiyyat Götür</button></div>
        </form>

    </div>
</section>
<!-- End Appointment Section -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="fas fa-arrow-up"></i>
</a>

@section Scripts{
            <script>
                $(function () {
                    $('.datepicker').datepicker(
                        {
                            dateFormat: 'dd-MM-yyyy'
                        });
                });
            </script>
            } 

